#description {
  width: 100%;
  margin-bottom: 2rem;
}

#details {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
#details h2
{
  text-align: left;
}

.detail-icon {
  font-size: 24pt;
}