// -------------------------------------------------------------------------------------------------
// Imports

// Import scribbli variables
@import 'variables';

// -------------------------------------------------------------------------------------------------
// App namespace

.app {
  color: $light-text-normal;
  background-color: $light-background-color;
  letter-spacing: $letter-spacing;
  font-family: $font-family-app;

  // Import page specific styling
  @import 'pages/world';

}

// Section Headings
// ------- --------
.app .heading {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 1.5rem;
}
.app .heading h1 {
  margin-left: 1rem;
}
.app .heading .heading-text {
  margin-left: 0.5rem;
}
.app .heading .icon {
  position: relative;
  bottom: 0.4rem;
  color: lighten($light-text-normal, 30%);
  transition: color 0.3s;
  padding-left: 0.4rem;
}
.app .heading .icon:hover {
  cursor: pointer;
  color: $light-text-normal;
}
.app .heading .search-input {
  display: none;
  background-color: $light-background-color;
  margin-left: 1rem;
  padding: 2px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.app .heading .search-input:focus {
  border-bottom: solid 2px #969696;
}
.app .heading-wide {
  height: 100vh;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.app .heading-wide > h1 {
  color: white;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
}

.app .heading-wide .navbar {
  position: absolute;
  top: 0;
  left: 0;
}

.app .wide-nav {
  background: #343435;
  color: white;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

// Forms
// -----
.app input[type=submit]:hover {
  cursor: pointer;
}

.app {
  .nolink, .nolink:visited, .nolink:active {
    color: #0275d8;
    text-decoration: none;
  }
  .nolink:hover {
    text-decoration: underline;
  }
}