// -------------------------------------------------------------------------------------------------
// External imports
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// -------------------------------------------------------------------------------------------------
// Colors
$light-background-color: #F0F0F0;
$light-text-normal: #343435;
$light-text-bad: #F96377;
$dark-background-color: #282828;

// -------------------------------------------------------------------------------------------------
// Other
$font-family-app: 'Cabin', sans-serif;
$font-family-preauth: "Open Sans", sans-serif;
$letter-spacing: .4px;