@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'bootstrap';

input {
  outline: none;
}
input:focus {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: #2E3D48;
  margin: 0;
  padding: 0;
}

.header-cover {
  height: 100%;
  width: 100%;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brand {

  h1 {
    font-size: 64pt;
    margin: 0;
    padding: 0;
  }

  small {
    margin-left: 8px;
  }

}

form.login {
  display: block;
  width: 21rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

#alpha-c {
  color: #ce1010;
}

input[type=text],
input[type=password] {
  padding: 2px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input[type=text]:focus,
input[type=password]:focus {
  border-bottom: solid 2px #969696;
}
input[type=text]:disabled {
  border-bottom: solid 2px #C9C9C9;
  background-color: #E0E0E0;
}
input[type=text]:disabled::-webkit-input-placeholder {
  color: #2E3D48;
}
input[type=text]:disabled::-moz-placeholder {
  color: #2E3D48;
}
input[type=text]:disabled:-ms-input-placeholder {
  color: #2E3D48;
}

input[type=submit].preauth {
  padding: 0.5rem;
  background: white;
  border: 2px solid #c9c9c9;
  border-radius: 5px;
  color: #969696;
  transition: color 0.3s, border 0.3s;
}
input[type=submit].preauth:hover {
  cursor: pointer;
  color: #2E3D48;
  border: solid 2px #969696;
}
input[type=submit].preauth:disabled {
  color: rgba(145, 196, 219, 0.64);
  border: solid 2px #c7c7c7;
}
input[type=submit].preauth:disabled:hover {
  cursor: default;
}

.input-block {
  margin: 1.5rem auto;

  input {
    font-size: 18pt;
    width: 100%;
  }

}

.helpful-links {
  margin-top: -1.2rem;
  font-size: 10pt;
  a { color: lighten(#1717EF, 10%); }
  a:hover { color: lighten(#1717EF, 20%); }
  a:visited { color: darken(#1717EF, 20%); }
}

.helpful-links a:first-child {
  float: left;
}
.helpful-links a:last-child {
  float: right;
}

.fade {
  opacity: 0;
  animation: 0.75s ease-in 0.1s fade;
  animation-fill-mode: forwards;
}

.fade-second {
  opacity: 0;
  animation: 0.75s ease-in 0.5s fade;
  animation-fill-mode: forwards;
}

@keyframes fade {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}